*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

/* inizio nav bar */

nav.topbar {
    height: 50px;
    width: 100%;
    background: blueviolet;
    border: 2px solid black;
}

nav .logo-menu, nav .menu-button{
    width: 50%;
    height: 100%;
    border: 1px solid black;
}

/* inizio header */

header{
    background: cadetblue;
    height: 600px;
    width: 100%;
    position: relative;
}

header .jumbo-container{
    width: 1200px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: blue;
    border: 1px solid black;
}

header .jumbo-img{
    width: 600px;
    height: 400px;
    position: absolute;
    right: 100px;
    top: 300px;
    background: coral;
    border: 1px solid black;
}