*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* inizio nav bar */

nav.topbar {
    height: 25px;
    width: 100%;
    margin: 25px 0 25px;
}

.topbar img{
    vertical-align: middle;
    margin-left: 20px;
}

nav .logo-menu, nav .menu-button{
    width: 50%;
    height: 100%;
}

.logo-menu li{
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    vertical-align: middle;
}

.logo-menu li a, .menu-button li a{
    color: black;
    font-weight: bold;
}

.menu-button{
    text-align: right;
}

.menu-button li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    vertical-align: middle;
}

#button-nav{
    background: #0061ff;
    padding: 5px 10px 5px;
    color: white;

}

/* inizio header */

header{
    background: #b4d0e7;
    height: 600px;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}

header .jumbocontainer{
    width: 1200px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 50px 0 50px 30px;
}

.jumbocontainer h1{
    font-size: 55px;
    color: #000;
    font-weight: 900;
}

.jumbocontainer p{
    font-size: 20px;
    color: #000;
    margin: 25px 0 25px;
}

.jumbo-button{
    font-size: 20px;
}

.jumbocontainer .Arrow{
    font-size: 30px;
    font-weight: 900;
}


header .jumbo-img{
    width: 800px;
    height: 700px;
    position: absolute;
    right: 0;
    top: 100px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* inizio main */

section h2{
    font-size: 40px;
    font-weight: 800;
}

.input{
    margin: 20px 20px 0 0;
    display: inline-block;
    font-size: 20px;
}

[class*="-container"]{
    width: 100%;
    margin:30px 0 30px;
}

/* inizio business part */

[class*="business-box"]{
    height: 900px;
    border: 1px solid black;
}

[class*="business-box"] .business-plan{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 20px;
}

[class*="business-box"] .business-text-container{
    padding:0 10px 0;
}
.business-text-container ul{
    margin-bottom: 50px;
}

.business-text-container ul li {
    margin: 15px;
}

.business-text-container h2{
    font-size: 25px;
    font-weight: bold;
}

.business-text-container h3{
    font-size: 20px;
    font-weight: bold;
}

.business-text-container span{
    font-size: 16px;
    display: inline-block;
}
.business-text-container hr{
    width: 100px;
}
#check{
    color: #0061ff;
    font-size: 14px;
}

#rata{
    color: #637381;
    font-size: 14px;
}

#acquista{
    color: #0061ff;
    text-decoration: underline;
}

.business-box-l{
    width: calc(100% / 3 - 15px);
    margin:0 15px 15px 0;
}

.business-box-m{
    width: calc(100% / 3 - 30px);
    margin:0 15px 15px 15px;
}

.business-box-r{
    width: calc(100% / 3 - 15px);
    margin:0 0 15px 15px;
}

.business-box-o{
    width: 100%;
    height: 300px;
    margin-top:15px;
}

/* inizio contract part */

.contract-img{
    width: 60%;
    height: 300px;
    background: yellowgreen;
    border: 1px solid black;
}

.contract-text{
    width: 40%;
    height: 300px;
    background: yellowgreen;
    border: 1px solid black;
    padding: 15px;
}

/* inizio operation part */

[class*="-operation"]{
    width:calc(100% / 3);
    background: tomato;
    border: 1px solid black;
    height: 500px;
    padding: 15px;
}

/* inizio box aziende */

[class*="bigaziende-box"]{
    width: calc(100% / 3);
    height: 500px;
    border: 1px solid black;
}

.aziende-box{
    width: calc(100% / 2);
    height: 50%;
    border: 1px solid black;
    background: gold;
}

.join-box{
    width: 100%;
    height: 400px;
    background: #b4d0e7;
}

/* inizio footer */

footer{
    background: #000;
    padding: 100px 0 100px;
}

.footernav{
    width: calc(100% / 5);
    height: 400px;
    border: 1px solid white;
}

.footernav-1{
    width: 100%;
    height: 50px;
    border: 1px solid white;
}